<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phongdc.peaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EmployeeGroups.GetEmpGroupActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DayMode.GetInformationDayTypeActivity"/>
        <activity android:name=".DayMode.DayModeActivity" />
        <activity android:name=".AcceptShiftRegister" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".User.MyDetailActivity" />
        <activity android:name=".Employees.ListEmp" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Employees.EmpDetailsActivity" />
        <activity android:name=".PayrollPeriod.CreatePayPeriod" />
        <activity android:name=".PayrollPeriod.GetPeriodActivity" />
        <activity android:name=".PayslipTemplate.PaySlipTemplateActivity" />
        <activity android:name=".PayrollDetail.PayrollDetailActivity" />
        <activity android:name=".PayslipTemplate.GetAllPayslipTemplateActivity" />
        <activity android:name=".CheckFinger.CheckFingerActivity"></activity>
        <activity android:name=".PayrollPeriod.PayPeriodAddGroupEmployee"></activity>
        <activity android:name=".PayrollPeriod.PayPeriodAddListEmployee"></activity>
        <activity android:name=".TimeFrameActivity"></activity>
        <activity android:name=".CreateTimeFrame"></activity>
        <activity android:name=".ShiftRegisterActivity"></activity>
        <activity android:name=".GetShiftRegisterActivity"></activity>
        <activity android:name=".AcceptShiftRegister"></activity>
        <activity android:name=".PayrollPeriod.PayPeriodDetails"></activity>
        <activity android:name=".PayrollDetail.CreatePayrollDetailActivity"></activity>
    </application>

</manifest>